<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Página de testes</title>
</head>
<body>
	
	
<table border="1px">
	<tr><td>Atributo</td><td>Valor</td></tr>
	<tr><td>ID</td><td><span th:text="${var.id}">Valor</span></td></tr>
	<tr><td>RM</td><td><span th:text="${var.rm}">Valor</span></td></tr>
	<tr><td>Status</td><td><span th:text="${var.status}">Valor</span></td></tr>
	<tr><td>Nivel</td><td><span th:text="${var.nivel}">Valor</span><span th:text="${var.id}">Valor</span></td></tr>
</table>


</body>
</html>